body {
  background-color: #EEBE35;
}

.crayon:after {
  content: "green";
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,.3);
  text-align: right;
  padding-right: 20%;
  padding-top: 17px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -48px;
  /*border: 1px solid blue;*/
  background-image: linear-gradient(to bottom,
    rgba(255,255,255,0) 12px,
    rgba(255,255,255,.2) 17px,
    rgba(255,255,255,.2) 19px,
    rgba(255,255,255,0) 24px)
}

.crayon:before {
  content: "";
  position: absolute;
  height: 10px;
  top: 2px;
  left: -48px;
  border-right: 48px solid #237449;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
}

.crayon {
  position: relative;
  margin: 10% auto;
  width: 300px;
  height: 40px;
  border-radius: 2px;
  background: #237449;
  background-image:
    /*Label*/
    radial-gradient(ellipse at top,
      rgba(0,0,0,.6) 60px,
      transparent 65px),
    /*Lines*/
    linear-gradient(to right,
      transparent 10%,
      rgba(0,0,0,.6) 10%,
      rgba(0,0,0,.6) 12%,
      transparent 12%,
      transparent 14%,
      rgba(0,0,0,.6) 14%,
      rgba(0,0,0,.6) 16%,
      transparent 16%,
      transparent 84%,
      rgba(0,0,0,.6) 84%,
      rgba(0,0,0,.6) 86%,
      transparent 86%,
      transparent 88%,
      rgba(0,0,0,.6) 88%,
      rgba(0,0,0,.6) 90%,
      transparent 90%),
    /*Wrapper*/
    linear-gradient(to right,
      transparent 5%,
      rgba(41,237,133,.6) 5%,
      rgba(41,237,133,.6) 95%,
      transparent 95%),
    /*Shadow*/
    linear-gradient(to bottom,
      transparent 62%,
      rgba(0,0,0,.3) 100%);
  box-shadow: 2px 2px 3px rgba(0,0,0,.3);
}
